/* Footer.css */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

footer {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 0);
	font-family: 'Work Sans';
	height: 100px;
}


footer nav ul {
	font-size: 12px;
	font-family: 'Work Sans';
	display: flex;
	justify-content: flex-end;
}
