.login {
    max-width: 400px;
    margin: 12% auto;
    padding: 2em;
    font-family: 'Work Sans', sans-serif;
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
  }
  
  .login-form label {
    font-size: 1em;
    color: #000000; /* Utilisation de la couleur verte */
    margin-bottom: 0.5em;
  }
  
  .login-form input[type="email"],
  .login-form input[type="password"] {
    height: 2.5em;
    font-size: 1em;
    margin-bottom: 1.5em;
    border-radius: 2px;
    padding: 0.5em;
    border: 1px solid #fffefe;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s ease;
  }
  
  .login-form input[type="submit"] {
    font-family: 'Syne', sans-serif;
    font-weight: 700;
    color: white;
    background-color: #1D6154; /* Vert foncé */
    border: none;
    border-radius: 30px;
    padding: 0.7em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-form input[type="submit"]:hover {
    background-color: #B1663C; /* Changement de couleur au survol */
  }
  
  .login p {
    text-align: center;
    margin-top: 1em;
  }
  
  .login a {
    color: #1D6154; /* Couleur verte */
    text-decoration: none;
  }
  
  .login a:hover {
    text-decoration: underline;
  }
  